*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-image: url(imgs/rm373batch13-086.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(5,18,34);
}

.container{ 
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.calc{
    background-color:rgb(85 120 227 / 50%);
    padding: 20px;
    border-radius: 10px; 
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    flex: 1;
    font-size: 40px;
    padding: 5px;
    text-align: right;
    border: none;
    box-shadow: none;
    color: rgb(111,213,226);
    letter-spacing: 2px;
}

.calc form input{
    border: 0;
    outline: 0;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: 10px;
    color: rgb(111,213,226);
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgba(255, 255, 255, 0.1) ;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}
#equal{
    background-color:rgb(5,18,34);
    width: 140px;
    color: rgb(111,213,226);
    font-size: 40px;
}
form input.op{
    background-color:rgb(5,18,34);
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgba(255, 255, 255, 0.1) ;
}
